


body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 13px;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;                       /* Activa CSS Grid en el contenedor */
    grid-template-columns: 380px 176px 176px 176px; /* Anchos de columnas específicos */
    grid-template-rows: 240px 200px 80px;     /* Alturas de filas específicas */
    gap: 10px;  
    background-color: rgb(167, 161, 161);
    width: 960px;
    justify-content: center;
    border: 4px #ff9966 solid;
}

a{
    position: absolute;
    padding-top: 450px;
    padding-left: 50px;
}

.uno{
    background-image: url(hombrepeque¤o.jpg);
    background-size: cover;
    grid-row: 1 / 4;
    margin: 15px;
    border-width: 5px white;
    border: 3px white solid;
}

.dos{
     grid-column: 2 / 5;
   margin-left: 50px;
}

h1{
    color: #ff9966;
    text-align: center;
    margin-top: 25px;
}




.imagenes{
    background-color: white;
    padding: 20px;
    width: 125px;
}


.logos{
    width: 30px;
    padding: 30px 10px;
}

.cuatro{
    background-color: white;
    text-align: center;
}

.cuatro:hover{
    p{
        display:none;
    }
}

.cinco{
    background-color: white;
    text-align: center;
}
.cinco:hover{
    p{
        display:none;
    }
}

.seis{
    background-color: white;
    text-align: center;
}
.seis:hover{
    p{
        display:none;
    }
}

.siete{
    grid-column: 2 / 5;
    text-align: right;
}
.lista{
    list-style-position: inside;
}